.main {
    padding-left: 10px;
    padding-right: 10px;
}

.title {
    margin:0;
}

.hashtagContainer{
    background-color: rgb(66, 80, 103);
    height: 500px;
    border-radius: 6px;
}

.hashtag {
    display: flex;
    flex-direction: column;
}

.p {
    margin : 0px;
}

.h3 {
    margin: 3px;
}